@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial,Helvetica,sans-serif;
}
section {

}
dl {
    margin-top: -1px;
}
dl:first-child {
    margin-top: 0;
}
.line::before {
    display: block;
    content: "";
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.line--bakerloo::before {
    background-color: #894E24FF;
}
.line--central::before {
    background-color: #DC241FFF;
}
.line--circle::before {
    background-color: #FFCE00FF;
}
.line--district::before {
    background-color: #007229FF;
}
.line--hammersmith-city::before {
    background-color: #D799AFFF;
}
.line--jubilee::before {
    background-color: #6A7278FF;
}
.line--metropolitan::before {
    background-color: #751056FF;
}
.line--northern::before {
    background-color: #000;
}
.line--piccadilly::before {
    background-color: #0019A8FF;
}
.line--victoria::before {
    background-color: #00A0E2FF;
}
.line--waterloo-city::before {
    background-color: #76D0BDFF;
}
.line--disruption {
    background-color: #FaF5E1;
}