@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial,Helvetica,sans-serif;
}
dl:first-child {
    border-top: 1px solid rgb(209 213 219);
}
.line::before {
    display: block;
    content: "";
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.line--bakerloo::before {
    background-color: rgb(137, 78, 36);
}
.line--central::before {
    background-color: rgb(220, 36, 31);
}
.line--circle::before {
    background-color: rgb(255, 206, 0);
}
.line--district::before {
    background-color: rgb(0, 114, 41);
}
.line--hammersmith-city::before {
    background-color: rgb(215, 153, 175);
}
.line--jubilee::before {
    background-color: rgb(106, 114, 120);
}
.line--metropolitan::before {
    background-color: rgb(117, 16, 86);
}
.line--northern::before {
    background-color: rgb(0, 0, 0);
}
.line--piccadilly::before {
    background-color: rgb(0, 25, 168);
}
.line--victoria::before {
    background-color: rgb(0, 160, 226);
}
.line--waterloo-city::before {
    background-color: rgb(118, 208, 189);
}
